#header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.header-left{
    height: 200px;
    width: 200px;
    background-image: url('../../public/img/logo1.png');
    background-size: cover;
    background-position: center;
}

.header-right{
    display: flex;
    margin-right: 3%;
    align-items: end;

}

#header .Header-list{
    background-color: var(--mainBackground) ;
}
