/* src/components/Layout2.css */
.layout2 {
    background-color: #ffffff; /* 배경색 설정 (원하는 색상으로 변경) */
    padding: 20px; /* 내부 여백 설정 (원하는 값으로 변경) */
    height: 170px;
  }
.category-text {
  font-size: 30px; /* 원하는 크기로 조절 */
  text-align: center;
  margin-bottom: 20px;
}
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .button-container-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    margin: 5px;

    align-items: center;
    justify-content: center;
    color: white;
  }


