/* ActionBar.css */

.action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1CC7FF; /* 변경: 배경색 변경 */
    color: #ffffff; /* 변경: 글자색 변경 */
    padding: 10px;
    border-radius: 30px;


}

.logo img {
    margin: 10px; /* 변경: 로고 여백 줄이기 */
}

.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff; /* 변경: 로고 글자색 변경 */
}
.right-section {
    display: flex;
    align-items: center;
    flex-direction: column; /* 변경: 컬럼으로 정렬 */
}

.time {
    font-size: 1rem;
    margin-bottom: 5px; /* 변경: 시간과 로그인 아이디 간 여백 추가 */
    color: black; /* 변경: 시간 글자색 변경 */
}

.links {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px; /* 변경: 각 링크 사이 여백 조정 */
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.links a:hover {
    color: #f39c12;
}

.logged-in-user {
    font-size: 1.1rem;
    margin: 20px;
    color: #000000;
}

.action-bar-div {
    display: flex;
    align-items: center;
}

.action-bar-a {
    background-color: #007bff;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.action-bar-a:hover {
    background-color: #e74c3c;
    color: black;

}