/* BottomComponent.css */

.bottom-component {
    background-color: #f7f7f7;
    padding: 20px;
    color: #333;
    font-family: 'Arial Black', sans-serif;
    width: 80%;
    align-items: center;
    margin: auto;
}

.company-info, .bank-info, .product-info, .trust-center {
    margin-bottom: 20px;
}
.product-info{
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;

}


.company-info {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    justify-content: space-around;
    font-size: 16px;


}
.company-info-left{

}

.company-info-left div{
    margin: 10px 0;
}

.company-info-right{

}

.company-info-right div{
    margin: 10px 0;
}
.bank-info, .product-info, .trust-center {
    font-style: italic;

}

.trust-center {
    font-size: 12px;

}


/* Add more styles as needed */
