/* CurrentlySelling.css */
.currently-selling-container {
    margin-bottom: 20px; /* 선택적으로 마진을 추가할 수 있습니다. */
    overflow-x: auto; /* 부모 요소에서도 가로 스크롤이 필요할 경우 추가 */
}

.product-list-horizontal {
    display: flex;
    white-space: nowrap; /* 가로로 나열되도록 설정 */
}

.product-list-horizontal > * {
    flex: 0 0 auto; /* 자식 요소가 너비를 자동으로 설정하도록 합니다. */
}
