/* EditProfilePage.css */

.edit-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1100px;
    text-align: center;
    flex-direction: column;
}

.edit-profile-form {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 350px;
    height: 920px;
    border-radius: 10px;
}

.edit-profile-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.edit-profile-form form {
    width: 300px;
    margin: 0 auto;
}

.edit-profile-form label {
    position: relative;
    font-size: 12pt;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.edit-profile-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-profile-form button {
    width: 200px;
    margin-top: 30px;
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    background: #1CC7FF;
    font-family: "Maplestory Bold";
    font-size: 1rem;
    color: #fff;
    transition: 0.5s;
}

.edit-profile-form button:hover {
    background: #007bff;
    outline: 0;
    color: #000;
}

.edit-profile-container .delete-button{
    background-color: #e74c3c;
    margin-top: 10px;
}

.edit-profile-container .delete-button:hover{
    background-color: #e74c3c;
    color: black;
}