/* src/components/Layout.css */
.layout {

  }
  
  .logo-search-container {
    display: flex;
    align-items: center;
    justify-content: center; /* 가로 중앙 정렬 */
    margin-bottom: 30px;
  }
  
  .logo-search-container img {
    max-width: 100px; /* 로고 이미지 너비 제한 (선택 사항) */
  }
  
  .logo1 {
    display: block; /* 이미지를 블록 요소로 설정 (가로 중앙 정렬을 위해 필요) */
    margin: 0 auto; /* 가로 중앙 정렬 */


  }

  /* src/components/Layout.css */
.layout2 {
    /* 필요한 스타일을 추가합니다. */
  }

.layout3 {
  /* 필요한 스타일을 추가합니다. */
}
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  /* 원 형태 버튼에 대한 스타일을 추가합니다. */
  .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .register-button {
    margin-left: 10px; /* 검색창에서 오른쪽으로 일정한 간격을 둡니다. */
    padding: 10px 20px; /* 버튼 내부 여백 설정 (원하는 크기로 조절) */
    background-color: #1cc7ff; /* 배경색 (원하는 색상으로 변경 가능) */
    color: white; /* 텍스트 색상 (원하는 색상으로 변경 가능) */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 둥근 테두리 설정 (원하는 값으로 변경 가능) */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 (클릭 가능한 버튼 표시) */
}