/* PasswordCheckPage.css 파일 */

.password-check-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1100px;
    text-align: center;
    flex-direction: column;
}

.password-check-form {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 300px; /* 필요에 따라 너비 조정 */
    border-radius: 10px;
    margin-bottom: 280px;
}

.password-check-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.password-check-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-check-form button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    background: #1CC7FF;
    font-family: "Maplestory Bold";
    font-size: 1rem;
    color: #fff;
    transition: 0.5s;
}

.password-check-form button:hover {
    background: #007bff;
    outline: 0;
    color: #000;
}
