/* src/components/ProductCard.css */

.myPage-product-card {
    position: relative;
    border: 2px solid #ddd;
    border-radius: 15px;
    width: 30%;
    max-width: 300px;
    height: 500px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product-card-myPage:hover {
    transform: scale(1.05);
}

.myPage-product-card-disabled{
    opacity: 0.5;
}

.myPage-product-card-disabled::after {
    content: "입찰 마감"; /* 원하는 텍스트를 여기에 추가합니다 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    padding: 10px; /* 원하는 만큼의 여백을 추가합니다 */
    color: red; /* 텍스트 색상을 조절할 수 있습니다 */
    font-size: 70px;
    font-weight: bold; /* 원하는 폰트 속성을 추가합니다 */
}

.product-img {
    max-height: 300px;
    max-width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    margin-top: 30px; /* 이미지를 아래로 이동시키는 마진 값 */
    margin-right: 30px;
    }


.product-content {
    padding: 15px;
    text-align: center;
}

.product-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.product-description {
    font-size: 0.9rem;
    margin: 0 20px 10px 20px;
}

.product-price {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: red;
}
/* ProductCard.css */

.underline {
    width: 80%; /* 선의 너비 조절 */
    height: 2px; /* 선의 높이 조절 */
    background-color: #333; /* 선의 색상 설정 */
    margin: 10px auto; /* 가운데 정렬을 위한 마진 설정 */
}
