/* ProductDetailPage.css */
.product-detail-container {
    display: flex;
    justify-content: space-between;
    padding: 140px;
    position: relative;
}

.product-detail-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;

}

.product-detail-container .left-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product-detail-container .large-rectangle {
    width: 100%; /* 수정: 가로폭을 100%로 조정 */
    height: 500px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(30deg, #bbe1f2, #7eaae6);
    transition: transform 0.3s ease-in-out;
}

.product-detail-container .large-rectangle img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px; /* Added border-radius for rounded corners */
}

/* Hover effect to scale up the image slightly on hover */
.product-detail-container .large-rectangle:hover {
    transform: scale(1.05);
}

.product-detail-container .large-rectangle img {
    max-height: 500px;
    max-width: 95%;
    object-fit: cover;
}
.product-detail-container .right-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start; /* 내용물을 가로 중앙에 정렬합니다. */
}

.product-detail-container .product-info {
    width: 90%;
    height: 100%;
    margin-bottom: 10px;
    padding-left: 80px;
}

.product-detail-container .product-info h2 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.product-detail-container .product-info p {
    margin: 0;
    font-size: 18px;
}


.product-detail-container #product-detail-container-button-container button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Maplestory Bold", sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.product-detail-container #product-detail-container-button-container button.blue {
    background-color: #3498db;
    color: #ffffff;
}

.product-detail-container #product-detail-container-button-container button.blue:hover {
    background-color: #2980b9;
}

.right-section .product-info .list{
    margin: 10px;
}

.right-section .product-info .list {
    font-size: 30px;
    margin: 20px 0; /* 수정: 간격 조절 */
    /*border-bottom: 3px solid #CCC;*/
    padding-bottom: 10px; /* 수정: 간격 조절 */
}


.product-detail-container .product-info .category_text_list {
    font-size: 16px;
    color: #CCC;
    margin-bottom:10px ;
}

.product-detail-container .product-info .list:nth-child(3) {
    font-size: 16px;
    border: none;
}


.product-detail-container .product-info .list:nth-child(4) {
    width: 100%; /* 수정: 너비 조절 */
    height: 200px;
    background-color: white;
    border: none;
    font-size: 18px;
}


.right-section .product-info .list:nth-child(5),
.right-section .product-info .list:nth-child(6) {
    position: absolute;
}

.right-section .product-info .list:nth-child(5){
    top: 15%;
    right: 8%;

}
.right-section .product-info .list:nth-child(6) {
    top: 20%;
    right: 8%;
}




.right-section .product-info .list:nth-child(7),
.right-section .product-info .list:nth-child(8) {
    margin: 0 0 10px 0;
    font-size: 32px;
    text-align: end;
}

.right-section .product-info .list:nth-child(7){

}

.right-section .product-info .list:nth-child(8){
    color: #e74c3c;
    font-size: 50px;
}


.product-detail-container .product-info .list:last-child{
    /*!*border-bottom: 3px solid red;*!*/
    /*padding-bottom: 0px;*/
    /*font-size: 25px;*/
    text-align: center;
    color: black;

}



.bidding_form_input{
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*margin: 0 10px 0 200px;*/

    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Maplestory Bold", sans-serif;
    text-align: end;
    align-items: end;
    text-decoration: none;
}


.modal-container {
    display: flex;
    align-items: center;
    justify-content: center; /* 화면 중앙에 정렬 */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal {
    background-color: #fff;
    padding: 24px; /* 모달 내부 여백 조절 */
    border: 3px solid #0056b3;
    border-radius: 8px; /* 모달 테두리 둥글게 조절 */
    max-width: 200px; /* 모달 최대 너비 지정 */
    width: 100%; /* 최대 너비를 넘지 않도록 설정 */

    align-items: center;
    text-align: center; /* 텍스트도 중앙 정렬 */
}

.confirm-button,
.cancel-button {
    display: inline-block; /* 인라인 블록으로 설정하여 중앙 정렬 */
    margin: 10px; /* 버튼 간 간격 설정 */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Maplestory Bold", sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0s ease-in-out, color 0s ease-in-out;
}


.product-detail-container #product-detail-container-button-container {
    margin-left: 550px;
}

.right-section #product-detail-container-button-container .bidding_form{
    display: block; /* Change from block to flex */
}

.disabled {
    opacity: 0.5; /* 투명도를 줘서 비활성화된 효과를 줄 수 있음 */
    pointer-events: none; /* 비활성화된 요소에 대한 이벤트를 막음 */
    /* 다른 비활성화된 스타일을 추가할 수 있음 */
}

.sold-out-text {
    opacity: 1; /* 또는 다른 값을 원하는 대로 설정 */
    position: absolute;
    top: 50%; /* 부모 요소의 중앙을 기준으로 설정 */
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 transform */
    color: red; /* 빨간색 텍스트 */
    font-size: 150px; /* 원하는 크기로 조절 */
    font-weight: bold; /* 굵은 글씨체 */

}