.product-detail-container .background-container {
    width: 100%;
    height: 100px;
    background-color: #1cc7ff; /* 상단 배경색 설정 */
    position: relative;
    z-index: 1; /* 다른 요소들보다 앞에 표시되도록 설정 */
}

.product-detail-container {
    display: flex;
    justify-content: space-between;
    padding: 140px;
    position: relative;
    z-index: 0; /* 기본값으로 설정 */
}

.product-detail-container::before {
    content: ""; /* 가상 요소 생성 */
    position: absolute; /* 절대 위치로 설정하여 이미지 위에 겹칩니다 */
    top: 0;
    left: 0;
    width: 100%; /* 이미지와 동일한 너비 */
    height: 100px; /* 원하는 높이 (상단에 배경색을 넣으려면 높이 조절) */
    background-color: #1cc7ff; /* 배경색 설정 */
}

/* 나머지는 이전과 동일하게 유지 */

.product-detail-container .left-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-detail-container .large-rectangle {
    width: 700px;
    height: 500px;
    border: 3px solid #0056b3;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -70px;
}

.product-detail-container .large-rectangle img{
    max-height: 500px;
    max-width: 95%;
    object-fit: cover; /* 변경: 이미지 비율 유지하며 조절 */}

.product-detail-container .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-detail-container .placeholder-text {
    font-size: 14px;
    color: #999;
}

.product-detail-container .image-upload-button {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    bottom: 10px;
}

.product-detail-container .right-section {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-detail-container .product-info {
    margin-bottom: 10px;
    position: relative;
}
.product-detail-container .product-info::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    width: 300%;
    height: 2px;
    background-color: black;
    z-index: -1; /* 선이 텍스트 뒤에 나타나도록 설정 */
}

.product-detail-container .product-info h2 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.product-detail-container .product-info p {
    margin: 0;
    font-size: 18px;
}
.product-detail-container .button-container {
    margin-left: -20px;
    display: flex;
    flex-direction: column;
}

.product-detail-container .button-container button {
    margin-bottom: 5px; /* 버튼 간격을 더 작은 값으로 조절 */
}

.product-detail-container .button-container button {
    background-color: #1cc7ff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}
