/* src/components/SearchBar.css */
.search-bar-container {

  display: flex;
  align-items: center;
  width: 500px;
  margin: 10px;
}

.search-bar-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  font-family: "Maplestory Bold", sans-serif;
  font-size: 1rem;
}

.search-bar-button {
  font-family: "Maplestory Bold", sans-serif;
  font-size: 1rem;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  margin-left: 10px;
}

.search-bar-button:hover {
  background-color: #0056b3;
}
