:root{
  --primaryColor: #245ddc;
  --secondColor: #508cd2;
  --mainWhite:#fff;
  --mainBlack:#222;
  --mainRed:#db3e3e;
  --mainGreen:#4caf50;
  --mainBackground: #fff;
  --mainBackground2: #EFEFEF;
  --testcolor: #ff00ff;
}

body {
  background-color: var(--mainBackground);
  margin: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.normal-button {
  margin: 0 0 0 10px;
}


