:root{
  --primaryColor: #245ddc;
  --secondColor: #508cd2;
  --mainWhite:#fff;
  --mainBlack:#222;
  --mainRed:#db3e3e;
  --mainGreen:#4caf50;
  --subGreen:#6bff98;
  --mainBackground: #fff;
  --mainBackground2: #EFEFEF;
  --mainGray : #737373;
  --testcolor: #ff00ff;
  --button-color: #ffffff;
  --button-bg-color: #0d6efd;
  --button-hover-bg-color: #025ce2;
}

body {
  background-color: var(--mainBackground);
  margin: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.normal-button {
  margin: 0 0 0 10px;
}

a{
  text-decoration: none;
}

